*{
	margin:0;
	padding:0;
}
/* 1. 定义自定义字体 */
@font-face {
	font-family: 'CourierPrime';       /* 自定义的字体名称 */
	src: url('../font/CourierPrime-Regular.ttf') format('truetype');  /* 字体文件路径和格式 */
	font-weight: normal;
	font-style: normal;
}
html{
	width:100%;
}
body {
	width:100%;
	font-family: 'CourierPrime', sans-serif;
	background:#000;
	color:#fff;
}
h2{
	text-align:center;
	padding-top:50px;
	font-size:50px;
}
hr{
	width:30px;
	margin:20px auto 50px;
}
.txt{
	width:700px;
	margin:0 auto;
	text-align:center;
}
.back{
	position:fixed;
	bottom:20px;
	right:0px;
	width:60px;
	height:40px;
	color:#fff;
	text-align:center;
	line-height:40px;
	background:#E81F27;
	display:block;
	text-decoration:none;
}
.list{
	width:1400px;
	margin:50px auto;
	display:flex;
	flex-wrap:wrap;
}
.item{
	width:680px;
	margin:10px;
	background:#9D9C25;
	display:flex;
	align-items: center;

}
.item img{
	width:280px;
	height:280px;
	object-fit: cover;    /* 填充并裁剪 */
	flex-shrink: 0;/*不缩放*/
	display:block;
}
.item p{
	padding:10px;
}
.item_contain img{
	object-fit:contain
}
.back{
	position:fixed;
	bottom:20px;
	right:0px;
	width:60px;
	height:40px;
	color:#fff;
	text-align:center;
	line-height:40px;
	background:#E81F27;
	display:block;
	text-decoration:none;
}